// Specific CSS for your home-page
.hero-flex {
  display: flex;
  margin: 40px;
  align-items: center;
}

.hero-img {
  height: 70vh;
  margin-right: 8px
}

.hero-text {
  text-align: left;
  color: black;
  width: 40vh;
  flex-grow: 1;
  h3 {
    padding-top: 16px;
    padding-bottom: 16px;
    line-height: 1.4;
  }
}

.button {
  margin-top: 32px;
  text-decoration: none
}

a.cta {
  color: white;
  text-decoration: none;
  background-color: #00917C;
  border-radius: 50px;
  margin-top: 40px;
  padding: 16px 24px 16px 24px;
  font-family: 'Roboto', sans-serif, 300;
}



.card-columns {
  margin: 20px;
}

.p-3 {
  background-color: rgb(241, 241, 241)
}

.garden {
  background-color: rgb(196, 196, 196);
  color: white;
}

.card-img, .card-img-top {
  color: black;
}

.home {
  background-color: rgb(241, 241, 241);
}


