// Specific CSS for your home-page
.hero-image {
  background-image: linear-gradient(rgb(196, 196, 196), rgb(196, 196, 196));
  padding: 5vh 0vh 5vh 0vh;
}

.hero-text {
  text-align: center;
  color: black;
}

.mission {
  padding-top: 5vh;
  text-align: center;
  width: 50%;
  margin: auto;
}

.card-columns {
  margin: 20px;
}

.p-3 {
  background-color: rgb(241, 241, 241)
}

.garden {
  background-color: rgb(196, 196, 196);
  color: white;
}

.card-img, .card-img-top {
  color: black;
}

.btn {
  background-color: rgb(241, 241, 241);
}


