#address {
  color: $green;
}

.garden-images {
  width: 95%;
  height: 25%;
}

.card-body {
  text-align: left;
  padding-left: 0px;
}

.grid-container {
    display: grid;
    margin:auto;
    grid-template-columns: auto auto;
}

.container {
  margin: 40px;
}

h3 {
  font-size: 20px;
  font-weight: bolder;
}

h4 {
  font-size: 16px;
  font-weight: lighter;
}

.booking-form {
  background-color: rgb(229, 229, 229);
  border-radius: 5px;
}

.reviews.blockquote {
  border-radius: 10px;
}

ul {
  list-style-type: none;
}

.masonry-column {
  padding: 0 1px;
}

.masonry-column div {
  margin: 5px 1px;
}

.garden-image {
  border-radius: 24px;
  width: 100%;
  object-fit: cover;
}

.garden-image-2 {
  border-radius: 24px;
  width: 50%;
  object-fit: cover;
}

.feature i {
  font-size: 32px;
  color: $green;
}

.feature p {
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 0px;
}

.feature span {
  font-size: 16px;
  font-weight: lighter;
}

#strike {
  text-decoration: line-through;
}

.review-title h3 {
  margin: 0px;
}

#no_reviews {
  color: gray;
  font-weight: lighter;
  font-size: x-small;
}

#map-show { 
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#geocoder-container > div {
    min-width: 50%;
    margin-left: 25%;
}
