<div class="hero-image">
  <div class="hero-text">
    <h1>Book my Backyard</h1>
    <h3>The place to book outdoor space</h3>
  </div>
</div>
<div class="mission">
<p>We know it can be tough to find the space to socialise, exercise or just relax in London. Book my backyard allows you to book private gardens, patios and terraces so you can find the perfect escape right on your doorstep.</p>
<%= link_to "Find a backyard", gardens_path, class:"btn btn-primary" %>
</div>
