<div class="container">

<h1 class = 'm-5'>All Gardens</h1>

<ul class="nav nav-tabs m-5">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Upcoming</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
 
</ul>

  <div class="cards d-flex justify-content-center align-content-stretch flex-wrap">
    <% @gardens.each do |garden| %>
      <div class="card m-2" style="width: 250px; height: 350px">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"> <%= garden.title %> </h5>
          <p class="card-text"> <%= garden.description %> </p>
        </div>
        <%= link_to "Details", garden_path(garden), class: "btn btn-success" %>
      </div>
    <% end %>
  </div>

</div>