.card-rounded {
  border-radius: 4px;
  overflow: hidden
}

.btn-rounded {
  border-radius: 50px;
}

.btn-bottom {
  position: absolute;
  bottom: 14px;
}

.card-body-bottom {
  margin-bottom: 40px;
}