.card-rounded {
  border-radius: 12px;
  overflow: hidden
}

.btn-rounded {
  border-radius: 50px;
}

.btn-bottom {
  position: absolute;
  bottom: 18px;
}

.card-body-bottom {
  margin-bottom: 50px;
}