.quotes {
  padding: 0px 8px 40px 8px;
  margin: 24px;
  h2 {
    padding: 40px 8px 16px 8px;
  }
  h4 {
    text-align: center;
    width: 50vw;
    margin: auto;
    color: white;
  }
  cite {
    color:white;
  }
  .quote {
    text-align: center;
    margin: auto;
    padding: 16px 0px 16px 0px;
    margin-bottom: 16px;
    background-color: #00917C;
    border-radius: 10px
  }
}
